*{
    box-sizing: border-box;
    margin: 0 20px;
}

h1{
    margin: 10px;
    background: lightseagreen;
    padding:5px;
    width: 400px;
}
#display{
    display: block;
    border:1px solid brown;
    background: lightgrey;
}
.funny{
    display: flex;
    padding: 10px;
    border: 1px solid red;
    background: lightsalmon;
}